div{
    text-align: center;
}
div#bandeau{
    width: 100%;
    height: 10vh;
    background-color: #00ccff;
}
div#contenu{
    float: left;
    width: 870px;
    height:80vh;
    background-color: #ffcc00;
}
div#piedpage{
    width: 100%;
    height: 10vh;
    background-color: #33ff99;
    clear: both;
}

div#menu{
    float: left;
    width: 100px;
    height: 400px;
    background-color: #ff6699;
}


div#menu-haut{
    width: 100px;
    height: 40vh;
    background-color: #66cc33;
}

div#menu-bas{
    width: 100px;
    height: 40vh;
    background-color: #cc99cc;
}

div#bloc-new{
    float: right;
    width: 200px;
    height: 200px;
    background-color: #7e2341;
}